<p>customers works!</p>

<!-- <nz-table #basicTable [nzData]="listData[0]" nzTableLayout="fixed">

    <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>No Claims</th>
          <th>Car</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.no_claims}}</td>
          <td>{{data.car}}</td>
          <td>{{data.gender}}</td>
        </tr>
      </tbody>

</nz-table> -->
